@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    position: relative;
}
body {
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}
#header .logo {
    color: #094b65;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
#header ul li {
    list-style-type: none;
    margin-left: 20px;
}
#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #094b65;
    cursor: pointer;
}
#header ul li a.active {
    border-radius: 30px;
    background-color: #094b65;
    color: white;
}
#header ul li a:hover {
    background-color: #094b65;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}
section {
    position: relative;
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #094b65, transparent);
    z-index: 10;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: none;
    pointer-events: none;
}
section #text {
    color: #094b65;
    font-size: 10vw;
    text-align: center;
    position: absolute;
    line-height: 0.5em;
    font-family: "Original Surfer", cursive;
    transform: translateY(-50%);
}
section #text span {
    font-size: 0.2em;
    letter-spacing: 4px;
    word-break: normal;
    font-family: "Poppins", sans-serif;
}
#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background-color: #fff;
    color: #094b65;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 40px;
    letter-spacing: 2px;
    transform: translateY(100px);
}
.sec {
    position: relative;
    padding: 100px;
    background-color: #094b65;
}
.sec h2 {
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 10px;
}
.sec p {
    font-size: 1rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
}
